#page-layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr) var(--content-width) minmax(0, 1fr);
}

section#center {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

/* Testing */
#page-layout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  justify-self: center;
}

#test {
  color: #fff;
}